h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    color: #4f360b;
    font-weight: bold;
}

body {
    background-color: rgb(211, 226, 219);
    
}

.text {
    font-size: 25px;
    color: #393021 ;
    border: 7px solid #393021;
    padding: 40px;
    background-color:rgb(241, 240, 235);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bolder;

}

.bold {
    font-weight: bold;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    border: #393021 solid 12px;
    padding: 30px;
    background-color: rgb(241, 240, 235);

}

li {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #393021;
    
}

/* .homebg {
    background-image: url("../Images/homebg.jpg") ;
    background-position: center;
    background-size: cover;
} */

.video {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navigation {
    font-size: 20px;
    text-align: center;
    border: 3px solid #393021;
    padding: 20px;
    margin: 30px;
    background-color: #393021;
    color: rgb(122, 132, 127);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.links {
    font-size: 23px;
    text-align: center;
    margin-left: 30px;
    width: 812px;
    color: rgb(122, 132, 127) ;
    border: 3px solid #393021;
    padding: 40px;
    background-color:#393021;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bolder;
}

a {
    color: rgb(211, 226, 219);
    text-decoration: none;
}

.tableau {
    margin-left: 140px;
    margin-right: 100px;
    align-items: center;
}

.image1 {
    margin-right: 30;
    position: absolute;
    /* left: 980px */
    right: 37px;
    top: 455px;
    
}

.image2 {
    margin-right: 30;
    position: absolute;
    /* left: 980px */
    right: 37px;
    top: 715px;
}